In [ ]:
import pandas

In [3]:
data=pandas.read_csv(r"D:\Classes\Python\House Price Prediction Project\Data\Housing.csv")
data

,price,area,bedrooms,bathrooms,mainroad,guestroom,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,yes,no,no,yes,2,yes
1,12250000,8960,4,4,yes,no,no,yes,3,no
2,12250000,9960,3,2,yes,no,no,no,2,yes
3,12215000,7500,4,2,yes,no,no,yes,3,yes
4,11410000,7420,4,1,yes,yes,no,yes,2,no
...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,yes,no,no,no,2,no
541,1767150,2400,3,1,no,no,no,no,0,no
542,1750000,3620,2,1,yes,no,no,no,0,no
543,1750000,2910,3,1,no,no,no,no,0,no
544,1750000,3850,3,1,yes,no,no,no,0,no

In [4]:
len(data)

545

In [ ]:
data.columns

In [5]:
for i in ["mainroad","guestroom","hotwaterheating","airconditioning","prefarea"]:
    data[i]=data[i].map({"yes":1,"no":0})

In [6]:
data

,price,area,bedrooms,bathrooms,mainroad,guestroom,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,1,0,0,1,2,1
1,12250000,8960,4,4,1,0,0,1,3,0
2,12250000,9960,3,2,1,0,0,0,2,1
3,12215000,7500,4,2,1,0,0,1,3,1
4,11410000,7420,4,1,1,1,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,0,0,0,2,0
541,1767150,2400,3,1,0,0,0,0,0,0
542,1750000,3620,2,1,1,0,0,0,0,0
543,1750000,2910,3,1,0,0,0,0,0,0
544,1750000,3850,3,1,1,0,0,0,0,0

In [7]:
#Import Machine learning libraries
from sklearn import linear_model
from sklearn.model_selection import train_test_split
mymodel=linear_model.LinearRegression()

In [9]:
# Mapping Dataset to X and Y
X=data[["area","bedrooms","bathrooms","mainroad","guestroom","hotwaterheating","airconditioning","parking","prefarea"]]
y=data["price"]

In [12]:
len(y)

545

In [13]:
XTrain,XTest,YTrain,YTest=train_test_split(X,y,random_state=10,test_size=0.3)

In [15]:
len(XTest)

164

In [ ]:
print(XTrain.info())

In [16]:
#Training Model
mymodel.fit(XTrain,YTrain)

LinearRegression()

In [17]:
#["area","bedrooms","bathrooms","mainroad","guestroom","hotwaterheating","airconditioning","parking","prefarea"]
mymodel.predict([[5000,3,2,1,0,0,1,2,1]])

c:\Users\Rakesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7283013.14313226])

In [18]:
ypred=mymodel.predict(XTest)

In [19]:
ypred

array([ 2629246.02571414,  3418840.5124162 ,  5576480.02467987,
        4201522.51875052,  5936226.69741119,  6580009.90300652,
        4004419.5630373 ,  3029372.85837688,  5004312.69235562,
        3551997.37928873,  5423671.63662309,  2371206.85627997,
        3815906.87660812,  4709366.04310832,  6723178.83166796,
        2424777.72754486,  7393801.4377797 ,  6295515.1222583 ,
        4994472.67414473,  4453345.18966245,  3028306.92435963,
        2197329.29779316,  5437763.43080846,  5739245.72869366,
        6876347.86221828,  6469392.68074511,  4018247.89130032,
        3683045.86873065,  3917614.37990528,  3484206.76379603,
        3847084.92157817,  4597463.69200244,  5387292.4291861 ,
        4872362.93886246,  7120785.09614869,  4712470.48310973,
        6783988.3378833 ,  2146964.76361078,  5255025.80161476,
        6012153.49384802,  4901230.93523169,  4643663.49806107,
        3107671.9130039 ,  7082337.26569233,  6333374.98404249,
        6952545.91034089,  9178855.51846297,  6507071.88644223,
        4092779.62655337,  4998266.31651482,  3251570.58209644,
        5500657.42458759,  3437697.60442724,  4743030.93181541,
        3296917.77333235,  6214723.1869872 ,  5356444.07234821,
        3975860.54986218,  3648402.59111461,  4364266.48198793,
        4929007.68911721,  5273481.61697663,  4732478.6327834 ,
        3481808.45264449,  4118560.06337894,  6942276.87388508,
        3129035.9927244 ,  3203604.35906559,  2920382.92254023,
        6649649.18895198,  4008325.34957413,  6723263.88476184,
        5691127.30155063,  3683045.86873065,  2578660.77088837,
        2636440.95916877,  3392217.29171407,  5538702.30934638,
        9522365.64354979,  5177737.10053274,  7431532.34879969,
        4961741.531397  ,  3260204.50224199,  2269499.35298281,
        4411462.34367659,  2571686.55807713,  5636451.19118998,
       10111534.20309459,  5501048.87029061,  3238291.3842009 ,
        5832593.93504666,  3000593.12455837,  6473961.51199714,
        5697004.2558672 ,  3893535.71142013,  3396579.92020268,
        3505179.71387172,  7194099.54479701,  4885545.69239233,
        5202547.61848566,  5049314.37633912,  3505987.73980268,
        4896812.03205437,  5087428.68321164,  7082337.26569233,
        4094993.84814967,  4212681.50357666,  3200985.32727067,
        7144914.07627581,  3202051.26128791,  4703773.75099658,
        4561835.46540109,  4368717.5970386 ,  3021111.990905  ,
        2852068.24216418,  5735143.10312945,  3318502.57369623,
        2636440.95916877,  4880491.34824168,  4113422.90939299,
        8088390.61884418,  4139287.75242151,  4968149.51631245,
        3987069.84633027,  6769564.74652909,  3587334.14331234,
        5087503.53524333,  4564998.89229049,  5609159.86830844,
        4400703.39790484,  4570231.5213515 ,  4817726.05168565,
        6761072.14786232,  4545801.49260791,  3907762.19371219,
        4511188.43210837,  4565467.37401579,  3687672.08203231,
        6665517.4209264 ,  5490653.93986484,  5740027.98798327,
        8243228.43951539,  5950409.25419611,  3374950.38484233,
        3261288.61331163,  6415593.35504456,  6713337.5559451 ,
        3975690.14086075,  6210304.28380988,  3986098.48180556,
        3864926.38660305,  3788571.5593985 ,  3611317.25482776,
        6284753.87261223,  6962105.4305021 ,  3418840.5124162 ,
        3688063.21167711,  4300963.94497747,  3442714.9473737 ,
        7277931.85862434,  6477867.29853396,  3895308.82868397,
        4932408.98020174,  5485484.39280619])

In [20]:
from sklearn.metrics import r2_score
import numpy
r2_score(numpy.array(YTest),numpy.array(ypred))

0.7004321757859057

In [21]:
import pickle
pickle.dump(mymodel,open("Model.sav","wb"))

In [22]:
import pickle
model=pickle.load(open("Model.sav","rb"))

In [23]:
model.predict([[9000,3,2,1,0,0,1,2,1]])

c:\Users\Rakesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([8242337.60374913])